<!doctype html>
<html>
    <head>
        <title>{{ data.title }}</title>

        {{#each stylesheets}}
            <link rel="stylesheet" href="{{this}}.css">
        {{/each}}
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
